<div>
    <div class="page-header-container box">Page Title</div>
    <div class="page-body box">
        <div class="button-container">
            <button type="button" class="btn btn-success btn-sm" ng-click="new()">Add New</button>
        </div>
        <div id="grid1" ui-grid="{ data: myData }" class="grid"></div>
    </div>
</div>