<br/>
<br/>
<br/>


<div>
    <div class="page-header-container box eoi-title ">11RepF1IN</div>
    <div class="page-body box">
        <form>


            <div class="form-group">
                <label for="merchantcode">DocRefID_ReportingFI :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.DocRefID_ReportingFI" readonly="readonly"
                />
            </div>
			
	        <div class="form-group">
                <label for="merchantcode">IN :</label>
                <input type="text" class="form-control form-control-sm" placeholder="1234567890000" ng-model="dataLocal.IN" 
                />
            </div>		
			
	        <div class="form-group">
                <label for="merchantcode">IssuedBy :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.IssuedBy" readonly="readonly"
                />
            </div>			
		
	        <div class="form-group" >
                <label for="">INType :</label>
                <select class="form-control input-sm" ng-model="dataLocal.INType" ng-change="jenisLaporan(dataLocal.INType)" >
                    <option value="0" disabled>--Select Jenis Laporan--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
				  <option value="ID06">ID06(NPWP)</option>
				  <option value="ID07">ID07(Nmomor SIUP)</option>
				  <option value="ID08">ID08(Nomor SITU)</option>
				  <option value="ID09">ID09(Nomor Akta Pendirian atau Dokumuent sejenis Lainnya)</option>
                </select>
             
            </div>				
	

			
						
            </div>
            <div class="form-section-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-click="save()" ng-show="!readonly" >Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
