<br/>
<br/>
<br/>


<div>
    <div class="page-header-container box eoi-title">20AccountReport Form</div>
    <div class="page-body box">
        <form>
            <div class="form-group">
                <label for="merchantcode">DocRefID_ReportingFI :</label>
                <input type="text" class="form-control form-control-sm" placeholder="MessageRefId" ng-model="dataLocal.DocRefID_ReportingFI" readonly="readonly"
                />
            </div>

            <div class="form-group">
                <label for="merchantcode">DocTypeIndic_AccountReport :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.DocTypeIndic_AccountReport" readonly="readonly"
                />
            </div>
			
	        <div class="form-group">
                <label for="merchantcode">DocRefID_AccountReport :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.DocRefID_AccountReport" readonly="readonly"
                />
            </div>		
			
	        <div class="form-group" ng-show="data.visible=='1'">
                <label for="merchantcode">CorrMessageRefID_AccountReport :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.CorrMessageRefID_AccountReport" readonly="readonly"
                />
            </div>			

	        <div class="form-group" ng-show="data.visible=='1'">
                <label for="merchantcode">CorrMessageRefID_AccountReport :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.CorrMessageRefID_AccountReport" readonly="readonly"
                />
            </div>	

		        <div class="form-group" >
                <label for="">IsIndividual :</label>
                <select class="form-control input-sm" ng-model="dataLocal.IsIndividual"  readonly="readonly" >
                    <option value="0" disabled>--Select--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
					<option value="true">true</option>
					<option value="false">false</option>
                </select>
            </div>			
			
	        <div class="form-group" >
                <label for="">Nasabah :</label>
                <select class="form-control input-sm" ng-model="nasabah" ng_change="generateAccountNumber(nasabah)"  >
                    <option value="0" disabled>--Select Nasabah--</option>
                    <option ng-repeat="item in dataNasabah" value="{{item.identitas}}|{{ item.isIndividu }}">{{item.cus_name}} | {{item.identitas}}</option> 

                </select>
            </div>			
		
	
			
	        <div class="form-group" >
                <label for="merchantcode">AccountNumber :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.AccountNumber" 
                />
            </div>					
			
			
	        <div class="form-group" >
                <label for="">AccountNumberType :</label>
                <select class="form-control input-sm" ng-model="dataLocal.AccountNumberType" ng-change="jenisLaporan(dataLocal.AccountNumberType)" >
                    <option value="0" disabled>--Select Account Number Type--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
					<option value="DJP601">DJP601</option>
					<option value="DJP602">DJP602</option>
					<option value="DJP603">DJP603</option>
					<option value="DJP604">DJP604</option>
                </select>
            </div>			

	        <div class="form-group" >
                <label for="">UndocumentedAccount :</label>
                <select class="form-control input-sm" ng-model="dataLocal.UndocumentedAccount"  >
                    <option value="0" disabled>--Select--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
					<option value="true">true</option>
					<option value="false">false</option>
                </select>
            </div>

	        <div class="form-group" >
                <label for="">ClosedAccount :</label>
                <select class="form-control input-sm" ng-model="dataLocal.ClosedAccount"  >
                    <option value="0" disabled>--Select--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
					<option value="true">true</option>
					<option value="false">false</option>
                </select>
            </div>			
	        <div class="form-group" >
                <label for="">DormantAccount :</label>
                <select class="form-control input-sm" ng-model="dataLocal.DormantAccount"  >
                    <option value="0" disabled>--Select--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
					<option value="true">true</option>
					<option value="false">false</option>
                </select>
            </div>					
			
		
	        <div class="form-group" >
                <label for="">AcctHolderType :</label>
                <input type="text" class="form-control form-control-sm" placeholder="AcctHolderType" ng-model="dataLocal.AcctHolderType" 
                />
            </div>			
	        <div class="form-group">
                <label for="">ResCountryCode :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.ResCountryCode" readonly="readonly"
                />
            </div>		
	        <div class="form-group">
                <label for="">Nationality :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.Nationality" readonly="readonly"
                />
            </div>		

	        <div class="form-group">
                <label for="">CurrencyCodeAccountBalance:</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.CurrencyCodeAccountBalance" readonly="readonly"
                />
            </div>	
			
	        <div class="form-group">
                <label for="">AccountBalance:</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.AccountBalance" readonly="readonly"
                />
            </div>			
			
		
	        <div class="form-group">
                <label for="">BirthInfo_BirthDate:</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.BirthInfo_BirthDate" readonly="readonly"
                />
            </div>		
	
	        <div class="form-group">
                <label for="">BirthInfo_City:</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.BirthInfo_City" readonly="readonly"
                />
            </div>		
	
	        <div class="form-group">
                <label for="">BirthInfo_CountryCode:</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.BirthInfo_CountryCode" readonly="readonly"
                />
            </div>							
            </div>
            <div class="form-section-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-click="save()" ng-show="!readonly" >Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
