body {
	font: 11px Arial, Helvetica, sans-serif;
	background: #ffffff url(images/main-bg.gif);
	padding: 0;
	margin: 0;
}
img {
	border: none;
}

/* dock - top */
.dock {
	position: relative; 
	height: 20px; 
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 20px;
	background: url(images/dock-bg2.gif);
	padding-left: 20px;
}
a.dock-item {
	display: block;
	width: 60px;
	color: #000;
	position: absolute;
	top: -15px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}

a.dock-item:hover   {
	display: block;
	width: 60px;
	color: #4582D2;
	position: absolute;
	top: -15px;
	text-align: center;
	text-decoration: none;
	font: bold 16px Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.dock-item span {
	display: block;
	height: 30px;
	padding-left: 20px;
}
