<br/>
<br/>
<br/>


<div>
    <div class="page-header-container box eoi-title">000MessgaeSpecForm</div>
    <div class="page-body box">
        <form>
            <div class="form-group">
                <label for="merchantcode">SendingCompanyIN :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.npwp_no" readonly="readonly"
                />
            </div>

            <div class="form-group">
                <label for="merchantcode">TransmittingCountry :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.TransmittingCountry" readonly="readonly"
                />
            </div>
			
	        <div class="form-group">
                <label for="merchantcode">ReceivingCountry :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.ReceivingCountry" readonly="readonly"
                />
            </div>		
			
	        <div class="form-group">
                <label for="merchantcode">MessageType :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.MessageType" readonly="readonly"
                />
            </div>			
	        <div class="form-group">
                <label for="">Warning :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Catatsn Laporan" ng-model="dataLocal.Warning" 
                />
            </div>		
	        <div class="form-group">
                <label for="">Contact :</label>
                <input type="text" class="form-control form-control-sm" placeholder="herawati_021xxxx0-sylvixxx_021xxxx50-ervxxx_0212xxxx050" ng-model="dataLocal.Contact" 
                />
            </div>			
	        <div class="form-group">
                <label for="">MessageRefId :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.MessageRefId" readonly="readonly"
                />
            </div>			
	        <div class="form-group">
                <label for="">MessageTypeIndic :</label>
                <select class="form-control input-sm" ng-model="dataLocal.MessageTypeIndic" ng-change="jenisLaporan(dataLocal.MessageTypeIndic)" >
                    <option value="0" disabled>--Select Jenis Laporan--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
				  <option value="DJP701">DJP701</option>
				  <option value="DJP702">DJP702</option>

                </select>
             
            </div>				
	        <div class="form-group" ng-show="data.visible=='1'">
                <label for="">CorrMessageRefId :</label>
                <input type="text" class="form-control form-control-sm" placeholder="MessageRefID Sebelumnya" ng-model="dataLocal.CorrMessageRefId" 
                />
            </div>			
	        <div class="form-group">
                <label for="">ReportingPeriod :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.ReportingPeriod" readonly="readonly"
                />
            </div>		
	        <div class="form-group">
                <label for="">TimeStamp :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.Timestamp" readonly="readonly"
                />
            </div>				
						
            </div>
            <div class="form-section-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-click="save()" ng-show="!readonly" >Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
