<br/>
<br/>
<br/>


<div>
    <div class="page-header-container box">21AccRepTIN-Individual Form</div>
    <div class="page-body box">
        <form>


            <div class="form-group">
                <label for="merchantcode">DocRefID_AccountReport :</label>
                <input type="text" class="form-control form-control-sm" placeholder="DocRefID_AccountReport" ng-model="dataLocal.DocRefID_AccountReport" 
                />
            </div>
			
	        <div class="form-group" >
                <label for="">TINType :</label>
                <select class="form-control input-sm" ng-model="dataLocal.TINType" >
                    <option value="0" disabled>--Select Jenis Laporan--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
				  <option value="ID01">ID01(NPWP,TIN)</option>
				  <option value="ID02">ID02(NIK)</option>
				  <option value="ID03">ID03(SIM)</option>
				  <option value="ID04">ID04(Paspor)</option>
				   <option value="ID05">ID05(Lainnya(Kartu Pelajar,KK,DSB))</option>
                </select>
             
            </div>			
			
	        <div class="form-group">
                <label for="merchantcode">TIN :</label>
                <input type="text" class="form-control form-control-sm" placeholder="TIN" ng-model="dataLocal.TIN" 
                />
            </div>		
			
	        <div class="form-group">
                <label for="merchantcode">IssuedBy :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.IssuedBy" readonly="readonly"
                />
            </div>			
		
				
	

			
						
            </div>
            <div class="form-section-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-click="save()" ng-show="!readonly" >Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
