<br/>
<br/>
<br/>


<div>
    <div class="page-header-container box">10ReportingF1 Form</div>
    <div class="page-body box">
        <form>
            <div class="form-group">
                <label for="merchantcode">MessageRefId :</label>
                <input type="text" class="form-control form-control-sm" placeholder="MessageRefId" ng-model="dataLocal.MessageRefId" readonly="readonly"
                />
            </div>

            <div class="form-group">
                <label for="merchantcode">DocRefID_ReportingFI :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.DocRefID_ReportingFI" readonly="readonly"
                />
            </div>
			
	        <div class="form-group">
                <label for="merchantcode">ReceivingCountry :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.ReceivingCountry" readonly="readonly"
                />
            </div>		
			
	        <div class="form-group">
                <label for="merchantcode">ResCountryCode :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.ResCountryCode" readonly="readonly"
                />
            </div>			
		
	        <div class="form-group" >
                <label for="">DocTypeIndic :</label>
                <select class="form-control input-sm" ng-model="dataLocal.DocTypeIndic1" ng-change="jenisLaporanS(dataLocal.DocTypeIndic1)" >
                    <option value="0" disabled>--Select Jenis Laporan--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
				  <option value="DJP1">DJP1(Data Baru)</option>
				  <option value="DJP2">DJP2</option>
				  <option value="DJP3">DJP3</option>

                </select>
             
            </div>				
	        <div class="form-group" ng-show="data.visible==1">
                <label for="">CorrMessageRefId :</label>
                <input type="text" class="form-control form-control-sm" placeholder="MessageRefID Sebelumnya" ng-model="dataLocal.CorrMessageRefId" 
                />
            </div>			
	        <div class="form-group" ng-show="data.visible2==1">
                <label for="">CorrDocRefID :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.CorrDocRefID" 
                />
            </div>		
			
						
            </div>
            <div class="form-section-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-click="save()" ng-show="!readonly" >Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
