<br/>
<br/>
<br/>
<div>
    <div class="page-header-container box">12RepF1Name</div>
    <div class="page-body box">
        <div class="button-container">

            <button type="button" class="btn btn-default btn-sm" ng-click="refresh()" ng-disabled="gridIsLoading==true">refresh</button>
        </div>
        <div id="grid1" ui-grid="gridOptions" class="grid">
            <div class="grid-nodata-container" ng-show="gridOptions.data.length == 0 && !gridIsLoading">No Data Available</div>
            <div class="grid-loading-container" ng-show="gridIsLoading">
                <img src="images/loading.gif" />
            </div>
        </div>
    </div>
</div>
