    <div class="page-header-container box eoi-title "><br/>
<br/>
<br/>

<!--
		DocRefID_AccountReport_Name_Individual : '',
		PrecedingTitle : '',
		Title : '',
		FirstName : '',
		FirstNameType : '',
		MiddleName : '',
		MiddleNameType : '',
		NamePrefix : '',
		NamePrefixType : '',
		LastName : '',
		LastNameType : '',
		GenerationIdentifier : '',
		Suffix : '',
		GeneralSuffix : '',
		NameType_Name_Individual : 'DJP202',
		idTempAccRep_Name_Individual : '',


-->



<div>
    <div class="page-header-container box eoi-title ">25AccRepAddress</div>
    <div class="page-body box">
        <form>


            <div class="form-group">
                <label for="merchantcode">DocRefID_AccountReport :</label>
                <input type="text" class="form-control form-control-sm" placeholder="DocRefID_AccountReport" ng-model="dataLocal.DocRefID_AccountReport" 
                />
            </div>
			

	        <div class="form-group">
                <label for="merchantcode">legalAddressType :</label>
                <input type="text" class="form-control form-control-sm" placeholder="TIN" ng-model="dataLocal.legalAddressType" 
                />
            </div>		
			
		
			
	        <div class="form-group">
                <label for="merchantcode">CountryCode :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.CountryCode" readonly="readonly"
                />
            </div>			
		
				
	
	        <div class="form-group">
                <label for="merchantcode">AddressFree :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.AddressFree"
                />
            </div>	
			
						
            </div>
            <div class="form-section-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-click="save()" ng-show="!readonly" >Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>