.header-container{
    height:59px;
    line-height: 59px;
    border-bottom:1px solid #f2f2f2;
    box-shadow: 0px 0px 4px 2px rgba(128,128,128,0.6);
    background-color:#fff;
    vertical-align: middle;
}

.header-title{
    vertical-align: middle;
    font-size: 20px;
    color:#808080;
    margin-left:20px;
}