.nav-container{
    position: absolute;
    top:59px;
    left:0px;
    bottom:0px;
    width:200px;
    background-color:rgb(26,33,41);

}

.menu-container{
    font-size: 14px;
}
.menu-container .menu{
    padding:10px 15px;
    color:#bfbfbf;
}
.menu-container .menu:hover{
    background-color:rgb(0,172,172);
    color:#fff;
    border-right:5px solid rgb(2,106,97);
    cursor: pointer;
}


.loading{
	position:fixed;
	padding-top:120px;
	top:0;
	bottom : 0;
	left:0;
	right:0;
	background-color:#000000;
	opacity:.3;
	z-index:9;
	color:#0f00ff;
	font-weight:bold;
	font-size:15px;
	
	
}