.nav-container{
    position: absolute;
    top:59px;
    left:0px;
    bottom:0px;
    width:200px;
    background-color:rgb(26,33,41);

}

.menu-container{
    font-size: 14px;
}
.menu-container .menu{
    padding:10px 15px;
    color:#bfbfbf;
}
.menu-container .menu:hover{
    background-color:rgb(0,172,172);
    color:#fff;
    border-right:5px solid rgb(2,106,97);
    cursor: pointer;
}