ul.activeVid{
	color:#338098;
	font-size:12px;
	font-weight:bold;
	/*background-color: #ffffff;*/
	margin-right:0;
	margin-left:0;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	
	border-top:1px solid #ffffff;
	vertical-align:middle;
	background-image:url(image/znx_bg.gif);
	/*border-color:#bababa;*/
}
/*.activeVid li.activeVid{
background-image:url(image/znx_bg_tab_active.gif);

}*/

.activeVid{
	color:#338098;
	font-size:12px;
	font-weight:bold;
	/*background-color: #ffffff;*/
	margin-right:0px;
	margin-left:0;
	border-left:1px solid #338098;
	border-right:1px solid #338098;
	
	border-top:1px solid #338098;
	vertical-align:middle;
	background-image:url(image/znx_bg_tab_active.gif);
	/*border-color:#bababa;*/
}
.list {
	color:#FFFFFF;
	border-top:solid 0px #ffffff;
	font-size:12px;
	background-color: #ffffff;
}


.nonActiveVid {
	color:#000;
	background-color:#ffffff;
	margin-right:0px;
	margin-left:0px;
	vertical-align:middle;
	background-image:url(image/znx_bg_tab_inactive.gif);
}
.basictab{
	margin-left: 0;
	font: bold 12px Verdana;
	list-style-type: none;
	margin-bottom: 0;
	text-align: center; /*set to left, center, or right to align the menu as desired*/
	padding:0;
}
ul
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}


a:hover {
	background-color: #ffffff;
	color:#338098;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
	background-image:url(image/znx_bg_tab_active.gif);
	border-left:1px solid #338098;
	border-right:1px solid #338098;
	
	border-top:1px solid #338098;
}

li {
list-style: none;
margin: 0;
display: inline;
}

li a{
font-family:Arial, Helvetica, sans-serif; 
font-size:10px;
float:left;
/*width:102px;*/
width:auto;
padding-left:5px;
padding-right:5px;
height:30px;
text-decoration:none;
color:#000;
background-image:url(image/znx_bg_tab_inactive.gif);
background-repeat:repeat-x;
border-top:1px solid #bababa;
border-left:1px solid #bababa;
border-right:1px solid #bababa;
text-align:center;
vertical-align:middle;
overflow: visible;
}

.container{
	/*border-collapse:collapse;*/
	height:30px;
	width:100%;
	padding:0px;
	margin-top:-2;
	position: absolute;
	background-color:#FFFFFF;
	/*border-left:1px solid #338098;
	border-right:1px solid #338098;
	
	border-top:1px solid #338098;
	border-top:1px;*/
}

