

#idscreen{
	display:none;
}
.idprint{
display:none;
}
.undisplayed_tbl
{
	display:inline;
}

body, p, td, li, h1, h2, h3 { font-family: Arial, Verdana, Helvetica, Geneva, sans-serif; font-size: 12px; }

h2, h3  	{ font-weight: bold; color:#323777; margin-bottom: 11px; }
h1          { font-size:16px; font-weight: bold; color:#9999cc; margin-bottom: 0px; }
h2, h3      { margin-top: 17px;  }

.header     { font-weight: bold; color:#323777; margin-bottom: 11px; }
.headline	{ font-weight: bold; color:#323777; }

p           { margin-top: 14px; }

a           { text-decoration: none; color:#323788; font-weight:bold;}
a:hover     { text-decoration: underline;           }
a.nav       { text-decoration: none; color:#000000;}
a.nav:hover { text-decoration: underline;           }

pre         { font-family:Courier New, Courier, monospace; font-size:12px; }
ul          { list-style-type: square; margin-top: 2px;        }

/* td.header   { color: #FFFFFF; background-color:#323777; }
td.cell     { background-color:#FFFFFF; }
/*
input, select    { border: 1px solid red; } */
input[type="submit"],input[type="button"],input[type="reset"]{
	background:#4582D2;
	color:#FFF;
	display: inline-block;
	padding: 2px 2px 2px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
}

input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover{
	background:#FFF;
	color:#00F;
	display: inline-block;
	padding: 2px 2px 2px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
}



input[type="text"],select, textarea{
	background:#FFF;
	color:#000;
	display: inline-block;
	padding: 2px 2px 2px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	/*text-shadow: 0 -1px 1px #222;*/
	border-bottom: 1px solid #222;
	position: relative;
}
input.error, select.error, textarea.error {
	padding-right: 16px;
	border: 2px solid red;
	background-color: #f00;
	background-image: url(jsimage/warning_obj.gif);
	background-position: right;
	background-repeat: no-repeat;
	color:#000;
	display: inline-block;
	padding: 1px 1px 1px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
}
input:focus, select:focus, textarea:focus {
	border: 2px solid red;
	background:#FFF;
	color:#000;
	display: inline-block;
	padding: 1px 1px 1px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
}


.mandatory  { font-weight: bold; }

.web_title{
	font-family: Arial;
	font-size:70px;
	color:#9999cc;
}
.web_title2{
	font-family: Arial;
	font-size:40px;
	color:#9999cc;
}

.frmClient, .login_user{
	border-bottom:1px #0F89D6 solid;
	border-top:1px #0F89D6 solid;
	border-right:1px #0F89D6 solid;
	border-left:1px #0F89D6 solid;
}
.frmClient{
	border-left:1px #FF6600 solid;
}
.border_header{
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px #bcc7ce solid;
}
.border{
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px #bcc7ce solid;
	/*border-top:1px #0F89D6 solid;
	border-right:5px #ffffff solid;
	border-left:5px #ffffff solid;*/
}
.border2{

}

#pick a{
	font-style:"font-size:18px";
	color:#f9921c;
	font-family:Arial;
	font-weight:bold;
}
.style1 {
font-size:16px;
color:#999999;
}

.dax {color:#9999cc; font-size:50px;}
.title_menu {
	font-size: 16px;
	font-style: normal;
	text-transform: capitalize;
	color: #9999cc;
	text-align: center;
	font-weight: bold;
}


input[type="text"].hidetext {
border:none;
background-color:#DAECFF;
display: inline-block;
padding: 2px 2px 2px;
text-decoration: none;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #DAECFF;
-webkit-box-shadow: 0 1px 3px #DAECFF;
/*text-shadow: 0 -1px 1px #222;*/
border-bottom: 1px solid #DAECFF;
position: relative;
}


table.grid{
	border-collapse:collapse;
}

table.grid tr td,table.grid tr.grid_head td{
	border-top:0px solid #BBB;
	border-bottom:1px solid #BBB;
	vertical-align:middle;
	padding:3px;
}

table.grid tr td,table.grid tr.grid_head td.xborder_header{
	border-top:0px solid #BBB;
	border-bottom:none;
	vertical-align:middle;
	padding:3px;
}

table.grid tr.grid_head td{
	background:url(../../image/bg_menu1.gif) repeat-x top;
	color:#000;
	font:bold 12px arial;
	height:50px;
	vertical-align:middle;
}

table.grid tr.grid_leher td{
background:url(../../image/backhead.JPG) repeat-x bottom;
	color:#000;
	font:bold 12px arial;
	height:10px;
	vertical-align:middle;
}


table.grid tr.grid_head td a{
	color:#000;
	font:bold 12px arial;
	text-decoration:none;
	cursor:hand;
	cursor:pointer;

	height:50px;
}

table.grid tr.grid_head td a:hover{
	color:#0E4B99;

	height:50px;
}

table.grid tr td{
	font:12px verdana;
}

table.grid tr td a{
	text-decoration:none;
	color:#4D6185;
}

table.grid tr td a:hover{
	color:#7D91B5;
}

table.grid tr td.xborder{
	background:#FFF;
	border:none;
}
table.grid tr.odd td.border{
	background:#EDF4FC;
	border-bottom:1px solid #CCC;
}

table.grid tr.odd td.kh_border{
	/*background:#EDF4FC;*/
	border-bottom:1px solid #CCC;
}

table.grid tr.even td.border{
	background:#FFFFFF;
	border-bottom:1px solid #CCC;
}

table.grid tr.even td.kh_border{
	/*background:#EDF4FC;*/
	border-bottom:1px solid #CCC;
}


table.grid tr:hover td.kh_border{
	background:#CDE0EE;
}

table.grid tr:hover td.border{
	background:#CDE0EE;
}

/*lalal*/
table.grid tr.odd_cancel td.border{
	background:#FF8888;
	border-bottom:1px solid #CCC;
}

table.grid tr.even_cancel td.border{
	background:#FF8888;
	border-bottom:1px solid #CCC;
}



/*END HARUN*/

.redstar{
	color:#ff0000;
}