body, p, td, li, h2, h3 { font-family: Arial, Verdana, Helvetica, Geneva, sans-serif; font-size: 12px;}

h2, h3  	{ font-weight: bold; color:#323777; margin-bottom: 11px; }
h1          { font-size:16px; font-weight: bold; color:#9999cc; margin-bottom: 0px; }
h2, h3      { margin-top: 17px;  }

a           { text-decoration: none; color:#323788; font-weight:bold;}
a:hover     { text-decoration: underline;           }
a.nav       { text-decoration: none; color:#000000;}
a.nav:hover { text-decoration: underline; }      

input[type="submit"][type="submit"],input[type="button"]{
	background:#4582D2;
	color:#FFF;
	border:1px solid #1552A2;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-khtml-border-radius : 4px;
	-webkit-border-radius : 4px;
}

table.grid{
	border-collapse:collapse;
}

table.grid tr td,table.grid tr th{
	border-top:1px solid #BBB;
	border-bottom:1px solid #BBB;
	vertical-align:top;
	padding:5px;
	min-width:100px
}

table.grid tr th{
	background:url(../../image/bg_menu1.gif) repeat-x top;
	color:#000;
	font:bold 12px arial;
	height:50px;
}

table.grid tr {
	border-bottom:1px solid #CCC;
}

table.grid tr th a{
	color:#000;
	font:bold 12px arial;
	text-decoration:none;
	cursor:hand;
	cursor:pointer;
	
	height:50px;
}

table.grid tr th a:hover{
	color:#0E4B99;
	
	height:50px;
}

table.grid tr td{
	font:12px verdana;
}

table.grid tr td a{
	text-decoration:none;
	color:#4D6185;
}

table.grid tr td a:hover{
	color:#7D91B5;
}

table.grid tr.odd td{
	background:#EDF4FC;
}

table.grid tr:hover td{
	background:#CDE0EE;
}