/* radendraculla@yahoo.com */
body{
margin:0 0 0 0;}
.gr{
background-image:url(../images/bg.jpg);
background-repeat:no-repeat;
background-position:left top;
background-attachment:fixed;
margin:0 0 0 0;

}
.top3{
margin:0px 0 3px 0;}
.right3{
margin-right:3px;
}

.tabele{
width:751px;
}
.logo{
display:block;
}
.language{
height:20px;
font-family:verdana, Helvetica, sans-serif;
font-size:11px;
color:#464644;}
a{
text-decoration:none;}
a:hover{
text-decoration:underline;
color:#c90370;}
 .link{
font-family:Verdana, Helvetica, sans-serif;
font-size:9px;
color:#fff;}
 .link_foot{
font-family:Verdana, Helvetica, sans-serif;
font-size:11px;
color:#fff;}

a{
text-decoration:none;}
.link a:hover{
text-decoration:underline;
color:#ffb612;}

#login{
width:45px;
height:20px;
background-image:url(../images/btn_login.jpg);
border:solid; border-width:0px;
}
#register{
width:65px;
height:20px;
background-image:url(../images/btn_reg.jpg);
border:solid; border-width:0px;
}

#formm{
width:209px;
height:131px;
background-image:url(../images/reg.gif);
background-repeat:no-repeat;
background-position:top;

}
#promo{
margin:0 0 0 0;
width:217px;
height:139px;
background-image:url(../images/bonus-pulsa_eng.jpg);
background-repeat:no-repeat;
background-position:top;
}
#pos_form{
margin-left:10px;
height:131;
display:block;
position:absolute;
}

#form1{
padding-left:20px;
}

.home{
vertical-align:middle;
top:25px;
padding-bottom:20px;}
#cari{
margin-left:53px;
margin-top:14px;}
.cari{
border-color:#ffdd00;
font-family:arial;
font-size:12px;
border:0px;
background:#ffdd00;
width:116px;
}
.hitam{
width:100%;
margin-top:0px;
height:750px;
background-attachment:scroll;
background-position:bottom;
background-repeat:repeat-x;
background-image:url(../images/black.gif);
}

.hitamf{
width:100%;
height:auto;
padding-top:20px;
background-attachment:scroll;
background-position:bottom;
background-repeat:repeat-x;
background-image:url(../images/black.gif);
}
.putihkecil{
font-family:verdana;
font-size:9px;
color:#FFFFFF;
}
.grey10_text{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#555555;
font-size:10px;
}
.grey_text{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#555555;
font-size:11px;
line-height:1.5em;
}

.white_text{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#fff;
font-size:11px;
vertical-align:middle;
}
.white_text a{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#fff;
font-size:10px;
vertical-align:middle;
}
.white_text a :hover{
text-decoration:underline;
color:#ffde01;
}
.orange_text{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#ffde01;
font-size:10px;
}
.pink_text{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#ca0375;
font-size:10px;
}
.pink12_text{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#ca0375;
font-size:12px;
}
#care a{
font-family:Verdana, Arial, Helvetica, sans-serif; color:#555555; font-size:12px; text-decoration:underline;}
#care a :hover{
font-family:Verdana, Arial, Helvetica, sans-serif; color:#555555; font-size:12px; text-decoration:none;}

.active{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#ffde01;
font-size:9px;
}


.judulservices {font-family: Verdana, Arial, Helvetica,;	font-size: 11px; font-weight:bold;	color: #4AA941;	}
.judulservices a{font-family: Verdana, Arial, Helvetica,;	font-size: 11px; font-weight:bold;	text-decoration:underline; color: #4AA941;	}
.judulservices a:hover {font-family: Verdana, Arial, Helvetica,;	font-size: 11px; text-decoration:none;	font-weight:bold;	color: #4AA941;	}
.textservices {font-family:Verdana, Arial, Helvetica,; 	font-size: 10px; 	color: #555555; 	}
.tkolom{  float:left;display:inline;}
.tservices{ width:500px;margin-left:10px; float:left; height:300px; display:inline}
.judulservices {font-family: Arial;	font-size: 11px; font-weight:bold;	color: #4AA941;	}
.judulservices a{font-family: Arial;	font-size: 11px; font-weight:bold;	text-decoration:underline; color: #4AA941;	}
.judulservices a:hover {font-family: Arial;	font-size: 11px; text-decoration:none;	font-weight:bold;	color: #4AA941;	}
.textservices {font-family:Verdana; 	font-size: 10px; 	color: #cc0375; background-color:#f5cfe6; padding-left:3px; padding-right:3px 	}
 ul {	margin: 0 0 0 0; padding: 0 0 0 0;list-style: none; }
 li {	display: inline; }

 #leftcolumn{
float:left;
width:150px;
height: 400px;
border: 3px solid black;
padding: 5px;
padding-left: 8px;

}


#rightcolumn{
float:left;
width:550px;
min-height: 400px;
border: 0px solid black;
margin-left: 10px;
padding: 5px;
padding-bottom: 8px;
}

* html #rightcolumn{ /*IE only style*/
height: 400px;
}
.dialog {
top:0;
 width:537px;
 color:#fff;


}

.dialog .hd .c,
.dialog .ft .c {
  height:0px;

}

.dialog .ft .c
{
 height:5px;

}

.dialog .hd {
 background:transparent url(../images/tl.gif) no-repeat 0px 0px;
}

.dialog .hd .c {
 background:transparent url(../images/tr.gif) no-repeat right 0px;
}

.dialog .bd {
 background:transparent url(../images/ml.gif) repeat-y 0px 0px;
}

.dialog .bd .c {
 background:transparent url(../images/mr.gif) repeat-y right 0px;
}

.dialog .bd .c .s {

 background:transparent url(../images/r.gif) repeat-y 0px 0px;
}

.dialog .ft {
 background:transparent url(../images/bl.gif) no-repeat 0px 0px; width:537px; height:14px;
}

.dialog .ft .c {
 background:transparent url(../images/br.gif) no-repeat right 0px;width:13px; height:14px; float:right;
}
.text_ungu{
color:#682479;
font-family:verdana;
font-size:11px;

}
.text_small_ungu{
color:#682479;
font-family:verdana;
font-size:11px;

}
.link_foot{
color:#C0DAFF;
font-family:verdana;
font-size:11px;

}

/* content-specific */
.about_submenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #ca0375;
}
.about_submenu a:link {
	font-weight: normal;
	color: #ca0375;
}
.about_submenu a:visited {
	font-weight: normal;
	color: #ca0375;
}
.text_ungu a:hover {
	color: #682479;
	text-decoration: underline;
}
