/* Default CSS Stylesheet for a new Web Application project */

BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: .6em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal
}

td
{
	font-size: 14px;
}
H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #FFFFFF;
}
H1	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	2em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}


A:link	{
	text-decoration:	none;
	color:	#3333cc;
	}

A:visited	{
	text-decoration:	none;
	color:	#333399;
	}

A:active	{
	text-decoration:	none;
	color:	#333399;
	}

A:hover	{

	color:	#FF0000;
	}

SMALL	{
	font-size:	.7em;
	}

BIG	{
	font-size:	1.17em;
	}

BLOCKQUOTE, PRE	{
	font-family:	Courier New, monospace;
	}


UL LI	{
	list-style-type:	square ;
	}

UL LI LI	{
	list-style-type:	disc;
	}

UL LI LI LI	{
	list-style-type:	circle;
	}

OL LI	{
	list-style-type:	decimal;
	}

OL OL LI	{
	list-style-type:	lower-alpha;
	}

OL OL OL LI	{
	list-style-type:	lower-roman;
	}

IMG 	{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	}
.tr {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #FFFFFF;
		height: 30px;
		background-image: url(../../image/td.png);
		text-align:center;

}



.tr_add  {
	background-image: url(../../image/td.png);
		text-align:center;
}
.tr_add a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;

}

.tr_add a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: yellow;

}
