<div class="modal-header">
        <h3 class="modal-title">Grouping</h3>
</div>
<div class="modal-body">
        <div>
                <input type="text" maxlength="64" placeholder="Input group name" ng-model="groupname">
        </div>
</div>
<div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="save()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>
