    <div class="page-header-container box"><br/>
<br/>
<br/>

<!--
		DocRefID_AccountReport_Name_Individual : '',
		PrecedingTitle : '',
		Title : '',
		FirstName : '',
		FirstNameType : '',
		MiddleName : '',
		MiddleNameType : '',
		NamePrefix : '',
		NamePrefixType : '',
		LastName : '',
		LastNameType : '',
		GenerationIdentifier : '',
		Suffix : '',
		GeneralSuffix : '',
		NameType_Name_Individual : 'DJP202',
		idTempAccRep_Name_Individual : '',


-->



<div>
    <div class="page-header-container box eoi-title">30ControllongPersonPageForm</div>
    <div class="page-body box">
        <form>


            <div class="form-group">
                <label for="merchantcode">DocRefID_ControllingPerson :</label>
                <input type="text" class="form-control form-control-sm" placeholder="DocRefID_AccountReport" ng-model="dataLocal.DocRefID_AccountReport" 
                />
            </div>
			

		
            <div class="form-group">
                <label for="merchantcode">DocRefID_AccountReport :</label>
                <input type="text" class="form-control form-control-sm" placeholder="DocRefID_ControllingPerson" ng-model="dataLocal.DocRefID_ControllingPerson" 
                />
            </div>			
		
			
	        <div class="form-group">
                <label for="merchantcode">ResCountryCode :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.ResCountryCode"
                />
            </div>			
		
				
	
	        <div class="form-group">
                <label for="merchantcode">Nationality :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.Nationality"
                />
            </div>	
		

	        <div class="form-group">
                <label for="merchantcode">BirthInfo_BirthDate :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.BirthInfo_BirthDate"
                />
            </div>	
			
			
	        <div class="form-group">
                <label for="merchantcode">BirthInfo_BirthDate_City :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.BirthInfo_City"
                />
            </div>				
			
				        <div class="form-group">
                <label for="merchantcode">BirthInfo_CountryCode :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.BirthInfo_CountryCode"
                />
            </div>	

		
	        <div class="form-group">
                <label for="merchantcode">CtrlPersonType :</label>
                <select class="form-control input-sm" ng-model="dataLocal.CtrlPersonType"  >
                    <option value="0" disabled>--Select--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
					<option value="DJP801">DJP801</option>
					<option value="DJP802">DJP802</option>
					<option value="DJP803">DJP803</option>
					<option value="DJP804">DJP804</option>			
					<option value="DJP805">DJP805</option>
					<option value="DJP806">DJP806</option>
					<option value="DJP807">DJP807</option>
					<option value="DJP808">DJP808</option>
					<option value="DJP807">DJP809</option>
					<option value="DJP808">DJP810</option>
					<option value="DJP807">DJP811</option>					
                </select>
            </div>		
		
						
            </div>
            <div class="form-section-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-click="save()" ng-show="!readonly" >Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>