body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;	
	
}
.mainlogin{
	vertical-align:middle;

}

.login{	
   	color:#000;
	font-weight:bold;
	border:3px solid #000;
	line-height: 1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	padding:10px;	
}
/*.login input{
	border:1px solid #89BF1B;
	
}*/

.input{
	background:#FFF;
	color:#000;
	display: inline-block;
	padding: 2px 2px 2px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	/*text-shadow: 0 -1px 1px #222;*/
	border-bottom: 1px solid #222;
	position: relative;
}
.input.error {
	padding-right: 16px; 
	border: 2px solid red; 
	background-color: #f00; 
	background-image: url(jsimage/warning_obj.gif); 
	background-position: right; 
	background-repeat: no-repeat;
	color:#000;
	display: inline-block;
	padding: 1px 1px 1px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
}
.input:focus {
	border: 2px solid blue; 
	background:#FFF;
	color:#000;
	display: inline-block;
	padding: 1px 1px 1px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
}
/*
input[type="submit"],input[type="button"],input[type="reset"]{
	background:#4582D2;
	color:#FFF;
	display: inline-block;
	padding: 2px 2px 2px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
}

input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover{
	background:#FFF;
	color:#00F;
	display: inline-block;
	padding: 2px 2px 2px;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
}
*/
.back{

background-repeat:repeat-x;



}

.buttonX{
background-image: url(../image/btn.gif);
background-repeat:no-repeat;
color:#000;
font-weight:bold;
font-family:Verdana;
width:57px;
height:27px;
}

.index_login{
	padding:5px;
	border:2px solid #620D2E;
	font-weight: bold;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-khtml-border-radius : 4px;
	-webkit-border-radius : 4px;
	text-align:center;
	line-height:180%;
}

.text_login{
	padding:2px;
	border:1px solid #BFBFBF;
	font-weight: normal;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-khtml-border-radius : 4px;
	-webkit-border-radius : 4px;
	text-align:left;
	line-height:180%;
}