    <div class="page-header-container box"><br/>
<br/>
<br/>

<!--
		DocRefID_AccountReport_Name_Individual : '',
		PrecedingTitle : '',
		Title : '',
		FirstName : '',
		FirstNameType : '',
		MiddleName : '',
		MiddleNameType : '',
		NamePrefix : '',
		NamePrefixType : '',
		LastName : '',
		LastNameType : '',
		GenerationIdentifier : '',
		Suffix : '',
		GeneralSuffix : '',
		NameType_Name_Individual : 'DJP202',
		idTempAccRep_Name_Individual : '',


-->



<div>
    <div class="page-header-container box eoi-title">26AccRepPaymentForm</div>
    <div class="page-body box">
        <form>


            <div class="form-group">
                <label for="merchantcode">DocRefID_AccountReport :</label>
                <input type="text" class="form-control form-control-sm" placeholder="DocRefID_AccountReport" ng-model="dataLocal.DocRefID_AccountReport" 
                />
            </div>
			

	        <div class="form-group">
                <label for="merchantcode">PaymentType :</label>
                <select class="form-control input-sm" ng-model="dataLocal.PaymentType"  >
                    <option value="0" disabled>--Select--</option>
                  <!--  <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountname}} | {{item.bankcode}}</option> -->
					<option value="DJP501">DJP501</option>
					<option value="DJP502">DJP502</option>
					<option value="DJP503">DJP503</option>
					<option value="DJP504">DJP504</option>					
                </select>
            </div>		
			
		
			
	        <div class="form-group">
                <label for="merchantcode">CurrencyCodePayment :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.CurrencyCodePayment"
                />
            </div>			
		
				
	
	        <div class="form-group">
                <label for="merchantcode">PaymentAmnt :</label>
                <input type="text" class="form-control form-control-sm" placeholder="Input Subject" ng-model="dataLocal.PaymentAmnt"
                />
            </div>	
			
						
            </div>
            <div class="form-section-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-click="save()" ng-show="!readonly" >Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>